* {
  /*font-family: 'Dosis', sans-serif;*/
  font-family: 'Montserrat Alternatives', sans-serif;
}

@media(min-width: 768px) {
  .navbar {
    padding: 25px 0;
  }
}

@media(max-width: 767px) {
  .navbar {
    padding: 0;
  }
}

.navbar {
  background-color: #1A1423;
  margin-bottom: 0px;
}

.navbar #menuIcon {
  padding: 3px;
}

.navbar button:hover,
.navbar button:focus,
.navbar button:active {
  color: white;
}

.navbar-nav {
  margin: 0px;
}

.row {
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  font-weight: bold;
}

img {
  width: 256px;
  height: 256px;

  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #1759A0;

  margin: 20px;
}

#aboutme .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

#aboutme {
  background-color: #104547;
  color: white;
}

#aboutme h1 {
  font-weight: bold;
  font-size: 3em;
}

#aboutme p {
  font-size: 1em;
}

#aboutme a {
  font-size: 1em;
}

.project-img {
  border-width: 2px;

  width: 128px;
  height: 128px;
}

.project-row:hover {
  background-color: #EAEAEA;
}
