body {
  font-family: 'Dosis', sans-serif;
  /*font-family: 'Montserrat Alternatives', sans-serif;*/
}

p {
  font-size: 20px;
}

p.small {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {

}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
}

hr {
  max-width: 250px;
  border-top: solid 5px;
  border-color: black;
}

.img-centered {
  margin: 0 auto;
}

.navbar {
  background-color: #1A1423;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0px;
  border: none;
}

.navbar a:focus {
  /*outline: none;*/
}

.navbar .navbar-brand {
  font-size: 20px;
  color: white;
}

.navbar .navbar-brand:hover {
  color: #18BC9C;
}

.navbar button:hover,
.navbar button:focus,
.navbar button:active {
  color: white;
}

.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .navbar-nav li a {
  color: white;
  border-bottom: solid;
  border-color: white;
  border-width: 5px;
  margin-left: 3px;
}

.navbar .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}

.navbar .navbar-nav li.active a:hover,
.navbar .navbar-nav li.active a:focus,
.navbar .navbar-nav li.active a:active {
  border-color: #18BC9C;
}

.navbar .navbar-toggle {
  color: white;
  border-color: white;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
}

.navbar #menuIcon {
  font-size: 10px;
  padding: 3px;
}

.navbar-nav {
  margin: 0px;
}

header {
  text-align: center;
  background-color: #FFFFFF;
  background-image: url("/assets/2144.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header .container {
  padding: 100px 0;
}

header img {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
  width: 256px;
  height: 256px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}

header .intro-text .description {
  font-size: 1.5em;
  font-weight: 300;
}

section {
  padding: 100px 0;
}

#projects .project-item {
  display: block;
  position: relative;
  max-width: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;


  background-color: #FFFFFF;
  /*background-image: url("/assets/2744.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 90% 90%;
  -moz-background-size: 90% 90%;
  -o-background-size: 90% 90%;
  background-size: 90% 90%;
}



a:hover {
  font-weight: bold;
}

#aboutme .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

#aboutme {
  background-color: #104547;
  color: white;
}

#aboutme h1 {
  font-weight: bold;
  font-size: 3em;
}

#aboutme p {
  font-size: 1em;
}

#aboutme a {
  font-size: 1em;
}

.project-img {
  border-width: 2px;

  width: 128px;
  height: 128px;
}

.project-row:hover {
  background-color: #EAEAEA;
}
